#home-body {
  background-color: #f6f3ee;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}

.home-intro {
  display: inline;
  margin-right: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
}

.home-right-column {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-left: 16%;
}

.home-large-text {
  font-size: 10vw; 
  transition: transform 0.3s;
}

.home-large-text a {
  color: inherit;
  text-decoration: none;
}

.home-large-text:hover {
  transform: skew(-10deg);
}

/* Media Queries for Different Screen Sizes */

@media (max-width: 767px) {
  /* For small devices like phones */
  .home-large-text {
    font-size: 12vw; /* Adjust the font size for small screens */
  }

  .home-right-column {
    padding-left: 5%;
    text-align: center; /* Center text on small screens */
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* For tablets and small laptops */
  .home-large-text {
    font-size: 8vw;
  }

  .home-right-column {
    padding-left: 10%;
  }
}

@media (min-width: 1200px) {
  /* For large desktops */
  .home-large-text {
    font-size: 145px;
  }

  .home-right-column {
    padding-left: 16%;
  }
}
